<div>
    <h2>
        <span>Worker Task Assignments</span>
        <button class="btn btn-primary float-right jh-create-entity create-worker-task-assignment" [routerLink]="['/', { outlets: { popup: ['worker-task-assignment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Worker Task Assignment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workerTaskAssignments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Worker</span></th>
            <th><span>Task</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workerTaskAssignment of workerTaskAssignments ;trackBy: trackId">
                <td><a [routerLink]="['../worker-task-assignment', workerTaskAssignment.id ]">{{workerTaskAssignment.id}}</a></td>
                <td>{{workerTaskAssignment.worker}}</td>
                <td>{{workerTaskAssignment.task}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../worker-task-assignment', workerTaskAssignment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'worker-task-assignment/'+ workerTaskAssignment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'worker-task-assignment/'+ workerTaskAssignment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
