<style>

    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .example-full-width {
        width: 100%;
    }
    .pac-container {
        z-index: 2000 ;
    }
</style>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaskLabel">Create or edit a Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!task.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="task.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="task.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_source">Source</label>
            <!--<input type="text" class="form-control" name="source" id="field_source"
                [(ngModel)]="task.source" />-->
            <input  [(ngModel)]="task.source" name="source" id="field_source"
                    placeholder="search for source" autocorrect="on" autocapitalize="off"
                    spellcheck="off" type="text" class="form-control pac-container"  #sourceSearch  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_destination">Destination</label>
            <input type="text" name="destination" id="field_destination"
                [(ngModel)]="task.destination"   placeholder="search for destination" autocorrect="on" autocapitalize="off"
                   spellcheck="off" class="form-control pac-container"  #destinationSearch />

        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fromLattitude">From Lattitude</label>
            <input type="text" class="form-control" name="fromLattitude" id="field_fromLattitude"
                [(ngModel)]="task.fromLattitude" [disabled]="true" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fromLongitude">From Longitude</label>
            <input type="text" class="form-control" name="fromLongitude" id="field_fromLongitude"
                [(ngModel)]="task.fromLongitude" [disabled]="true" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_toLattitude">To Lattitude</label>
            <input type="text" class="form-control" name="toLattitude" id="field_toLattitude"
                [(ngModel)]="task.toLattitude" [disabled]="true" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_toLongitude">To Longitude</label>
            <input type="text" class="form-control" name="toLongitude" id="field_toLongitude"
                [(ngModel)]="task.toLongitude" [disabled]="true" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_distance">Distance</label>
            <input type="number" class="form-control" name="distance" id="field_distance"
                [(ngModel)]="task.distance" [disabled]="true" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
